* {
    box-sizing: border-box;
}

html {
    // font-family: 'Fira Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;

    @include a (laptop) {
        font-size: 14px;
    }

    @include a (tablet) {
        font-size: 12px;
    }
    @include a (mobile) {
        font-size: 10px;
    }
}

@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    @include a (laptop) {
        max-width: 95%;
    }

}

img {
    max-width: 100%;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    max-width: 200px;
    width: 100%;
    background-color: $accent-color;
    color: $light-color;
    text-transform: uppercase;
}

input {
    outline: none;
}

figure {
    margin: 0;
}